networks:
  default:
    driver: bridge
    name: roboshop
services:
  mongodb:
    image: devopsrinu/mongodb:v1 
    container_name: mongodb
  catalogue:
    image: devopsrinu/catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb
  redis:
    image: redis:7.0
    container_name: redis
  user:
    image: devopsrinu/user:v1
    container_name: user
    depends_on:
    - redis
    - mongodb
  cart:
    image: devopsrinu/cart:v1
    container_name: cart
    depends_on:
    - catalogue
    - redis
  mysql:
    image: devopsrinu/mysql:v1
    container_name: mysql
  shipping:
    image: devopsrinu/shipping:v1
    container_name: shipping
    depends_on:
    - mysql
    - cart
  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
  payment:
    image: devopsrinu/payment:v1
    container_name: payment
    environment:
      CART_HOST: cart
      CART_PORT: 8080
      USER_HOST: user
      USER_PORT: 8080
      AMPQ_HOST: rabbitmq
      AMPQ_USER: roboshop
      AMPQ_PASS: roboshop123
    depends_on:
    - rabbitmq
    - cart
    - user
  frontend:
    image: devopsrinu/frontend:v1
    container_name: frontend
    ports:
    - "80:80"
    depends_on:
    - catalogue
    - cart
    - user
    - shipping
    - payment
